# Database
DATABASE_URL="postgresql://neondb_owner:npg_xHaEUuvsNT37@ep-cool-block-aqt1ojbh-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
JWT_SECRET="your-jwt-secret-min-64-chars-here-change-this-before-production-!!!"
JWT_REFRESH_SECRET="your-refresh-secret-min-64-chars-here-change-this-before-production"

# App
PORT=4000
FRONTEND_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Resend
RESEND_API_KEY="re_YE1FkeSu_9ET4qap3SM1z2DgvNj1j7RjW"
FROM_EMAIL="jlabtanvir@gmail.com"
